@use '../../assets/styles/variables.scss' as *;

.qa {
    text-align: center;
    font-family: $manrope-font;
    font-size: 45px;
    font-weight: 400;
    margin-top: 80px;

  
    .options {
      display: flex;
      margin-top: 40px;
      .left-section {
        width: 50%;
        padding: 1rem;
        padding-left: 6rem;
      }
  
      .right {
        width: 50%;
        padding: 1rem;
        padding-right: 6rem;
      }
    }
  }
  
  .list-items {
    position: relative;
    padding: 2px;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 16px;
    z-index: 0;
    overflow: hidden;
    padding: .7rem;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 12px;
      padding: 1px;
      background: linear-gradient(90deg, #0f69dc, #1dc823);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -1;
      pointer-events: none;
    }.list-titile{
      display: flex;
      justify-content: space-between;
      align-items: center;
    p {
      font-size: 14px;
      font-family: $font-family;
    }
  
    span {
      font-size: 25px;
    }
  }
  .items-details {
    position: relative; // Required for ::before to be positioned correctly
    padding: 0.3rem;
    margin: 0.3rem;
  
    p {
      font-size: 14px;
      font-family: $font-family;
      line-height: 28px;    
    }
  
    // Gradient top border via pseudo-element
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px; // This becomes your "border"
      width: 100%;
      background: linear-gradient(90deg, #0f69dc, #1dc823);
      z-index: 1;
      pointer-events: none;
      border-radius: 0; // optional, can remove if unnecessary
    }
  }
  }