@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

$font-family: 'Poppins', sans-serif;
$manrope-font: 'Manrope', sans-serif;

.custom-card {
    color: #fff;
    position: relative;
    border-radius: 16px;
    max-width: 560px;
    padding: 40px 20px;
    
    
    // // Gradient border using pseudo-elements
    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   border-radius: 16px;
    //   padding: 2px; // Border width
    //   background: linear-gradient(120deg, #006eff,#00ff91);
    //   -webkit-mask: 
    //     linear-gradient(#fff 0 0) content-box, 
    //     linear-gradient(#fff 0 0);
    //   -webkit-mask-composite: xor;
    //   mask-composite: exclude;
    //   pointer-events: none;
    // }
}

.custom-icon {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    img:nth-child(1) {
        max-width: 280px;
        height: auto;
      }
    img:nth-child(2) {
        max-width: 125px;
        max-height: 216px;
      }
}
  
.custom-title {
    font-family: $font-family;
    font-weight: 400; 
    font-size: 18px;
    text-align: center;
}
  
.custom-description {
    font-family: $font-family;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    opacity: .70;
}
