@use '../../assets/styles/variables.scss' as *;
.footer {
  background-color: #000;
  color: #fff;
  // padding: 1rem;
  .sections{
    display: flex;
    justify-content: space-between;
    padding: 3.3rem;
  .first-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    img{
      width: 105;
      height: 105;
    }p{
      font-size: 20px;
    }

  }.secount-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  p{
    font-size: 20px;
  }
}.thrird-section{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 50px;
  p{
    font-size: 20px;
  }
}
.last-section{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
p:nth-child(1){
  font-weight: 500;
  font-size: 21px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    background: $gradient;
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 0;
  }
}
p:nth-child(2){
  font-size: 24px ;
}
}
}
.footer-section{
  display: flex;
  padding: 3rem;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  justify-content: space-between;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px; // This becomes your "border"
    width: 100%;
    background: linear-gradient(90deg, #0f69dc, #1dc823);
    z-index: 1;
    pointer-events: none;
    border-radius: 0; // optional, can remove if unnecessary
  }
  p{
    font-size: 20px;
  }
  .social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    p{
      font-size: 20px;
    }
  }
}
}